<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style="padding-bottom: 50px;padding-left: 20px;">
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/upload">Up load</a>
            <a href="#contact">Films</a>
            <a href="#about">About</a>
        </div>
        <h1>List user </h1>
        <table style="width:100%"  id="customers">
            <thead>
              <tr>
                <td>id</td>
                <td>Frist name</td>
                <td>Pass word</td>
                <td>email</td>
                <td>Number Phone</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < dataUser.length; i++) { %>
                <tr>
                  <td><%= dataUser[i].id %></td>
                  <td><%= dataUser[i].firstName %></td>
                  <td><%= dataUser[i].passWord %></td>
                  <td><%= dataUser[i].email %></td>
                  <td><%= dataUser[i].numberPhone %></td>
                  <td >
                    <div >
                      <a href='/details/user/<%= dataUser[i].id %>' target="_blank" >detail</a>
                    </div>
                    <div >
                      <a href="/edit-user/<%= dataUser[i].id %>"target="_blank">edit</a>
                    </div>
                    <div >
                      <form action="/delete-user" method="POST" >
                        <input type="text" value="<%= dataUser[i].id %>" hidden name="idUser"/>
                        <button type="submit">delete</button>
                      </form>
                    </div>
                  </td>
                </tr>
             <% } %>
            </tbody>
        </table> 
        <div style="width:300px; margin-left:20px">
          <h1>Create user</h1>
          <form action="/create-new-user" method="POST">
            <div style="flex-direction: column">
              <label>first name</label>
              <input type="text" name="firstName"/>
            </div>
            <div>
              <label>Last name</label>
              <input type="text" name="lastName"/>
            </div>
            <div>
              <label>email name</label>
              <input type="email" name="email"/>
            </div>
            <div>
              <label>nuber phone</label>
              <input type="tel" name="numberPhone"/>
            </div>
            <button type="submit">submit</button>
          </form>
        </div>
        <div>
          <h1>List Films</h1>
          <table style="width:100%"  id="customers">
            <thead>
              <tr>
                <td>id</td>
                <td>Film name</td>
                <td>Tags</td>
                <td>Description</td>
                <td>link</td>
                <td>imageFilm</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < dataFilms.length; i++) { %>
                <tr>
                  <td><%= dataFilms[i].id %></td>
                  <td><%= dataFilms[i].filmName %></td>
                  <td><%= dataFilms[i].tag %></td>
                  <td><%= dataFilms[i].description %></td>
                  
                  <td><%= dataFilms[i].linkYT %></td>
                  
                  <td><%= dataFilms[i].linkImage %></td>
                  <td >
                    <a href="/edit-film/<%= dataFilms[i].id %>"target="_blank">edit</a>
                    <div >
                      <!-- <form action="/delete-film" method="POST" >
                        <input type="text" value="<%= dataFilms[i].id %>" hidden name="idFilm"/>
                        <button type="submit">delete</button>
                      </form> -->
                    </div>
                  </td>
                </tr>
             <% } %>
            </tbody>
        </table> 
        </div>
        <div style="width:300px; margin-left:20px">
          <h1>Create Films</h1>
          <form action="/create-new-film" method="POST">
            <div style="flex-direction: column">
              <label>Film name</label>
              <input type="text" name="filmName"/>
            </div>
            <div>
              <label>Tags</label>
              <input type="text" name="tag"/>
            </div>
            <div>
              <label>description</label>
              <input type="text" name="description"/>
            </div>
            <div>
              <label>link Youtube</label>
              <input type="text" name="linkYT"/>
            </div><div>
              <label>link image</label>
              <input type="text" name="linkImage"/>
            </div>
            <button type="submit">submit</button>
          </form>
        </div>
        <h1>ảnh demo</h1>
        <img style="width:400px"src="https://res.cloudinary.com/dsecbeybb/image/upload/v1687603028/be-NT118/films/attack_on_titan_l7nxmk.jpg">
</html>