<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>edit</h1>
    <%= JSON.stringify(dataUser) %>
    
    <form action="/update-film/<%= dataUser.id %>" method="POST">
        <div>
          <div>
            <label>Film name</label>
          </div>
          <div>
            <input name="filmName" value='<%= dataUser.filmName %>'/>
           
          </div>
        </div>
        <div>
          <div>
            <label>Tags</label>
          </div>
          <input type="text" name="tag" value='<%= dataUser.tag %>'/>
        </div>
        <div>
          <div>
            <label>description</label>
          </div>
          <div>
            <input type="text" name="description" value='<%= dataUser.description %>'/>
          </div>
        </div>
        <div>
          <div>
            <label>nLink Yotube</label>
          </div>
          <div>
            <input type="text" name="linkYT"value='<%= dataUser.linkYT %>'/>
          </div>
          
        </div>
        <div>
          <div>
            <label>link image</label>
          </div>
          <div>
            <input type="text" name="linkImage"value='<%= dataUser.linkImage %>'/>
          </div>
          
        </div>
        <input name="id" value='<%= dataUser.id %>' hidden/>
        <button type="submit">save</button>
      </form>     
</body>
</html>